#frame {
    position: relative;
    width: 598px;
    height: 406px;
    background-color: black;
    background-image: url('gato.jpg');
    background-size: 100% 100%;
    overflow: hidden;
    cursor: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
}

#spot {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: -moz-radial-gradient(center center, circle closest-side, transparent 0%, black 60%);
    background: -webkit-radial-gradient(center center, circle closest-side, transparent 0%, black 60%);
}
